<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="uft-8">
  <title>bookLog</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class=page>
    <h1>bookLog</h1>
    {% if session.user %}
      <a href="{{ url_for('logout') }}">logout</a>
      <a href="{{ url_for('show_entries') }}">entries</a>
    {% else %}
      <a href="{{ url_for('login') }}">login</a>
    {% endif %}
    {% block body %}{% endblock %}
  </div>
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
