{% extends "layout.html" %}
{% block body %}
  <h2>show_entries.html</h2>
  <button onclick="location.href='{{ url_for('search_books') }}'">本を追加する</button>

  <ul>
    {% for x in bookId %}
        <li class="BookThumbnail"></li>
        <!-- モーダルエリアここから -->
        <section class="modalArea">
          <div class="modalBg"></div>
          <div class="modalWrapper">
            <div class="modalContents">
              <ul>
                <li class="BookTitle"></li>
                <li class="BookAuther"></li>
                <li class="PublishedDate"></li>
                <li class="BookDescription"></li>
              </ul>
              <button class="deleteButton">削除する</button>
            </div>
            <div class="closeModal">
              ×
            </div>
          </div>
        </section>
        <!-- モーダルエリアここまで -->
    {% endfor %}
  </ul>



  <!-- ここからJavaScript -->
  <script> var bookId = {{ bookId|tojson }};</script><!--flaskから引数を取得-->
  <script src="/static/show_entries.js"></script>

{% endblock %}
