{% extends "layout.html" %}
{% block body %}
  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-10">Enjoy Reading!</h1>
        <h2 class="masthead-subheading mb-1">It is going to take you to the wonderful world.</h2>
        <a onclick="location.href='{{ url_for('search_books') }}'" class="btn btn-primary btn-xl rounded-pill mt-3 mb-3">Add Your Book</a>
      </div>
    </div>
  </header>

  <div class="shelf-wrapper">
    {% for x in bookId %}
      <div class="item-area">
        <div class="BookThumbnail"></div>
        <!-- モーダルエリアここから -->
        <section class="modalArea">
          <div class="modalBg"></div>
          <div class="modalWrapper">
            <div class="modalContents">
              <div class="DetailThumbnail"></div>
              <ul class="bookDetail">
                <li class="BookTitle"></li>
                <li class="BookAuther"></li>
                <li class="PublishedDate"></li>
                <li class="BookDescription"></li>
              </ul>
              <button class="deleteButton btn btn-danger">削除する</button>
            </div>
            <div class="closeModal">
              ×
            </div>
          </div>
        </section>
        <!-- モーダルエリアここまで -->
      </div>
    {% endfor %}
  </div>



  <!-- ここからJavaScript -->
  <script> var bookId = {{ bookId|tojson }};</script><!--flaskから引数を取得-->
  <script src="/static/show_entries.js"></script>

{% endblock %}
